<!-- <h1>Formulario de contacto</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <section class="mb-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required formControlName="name">
        <section *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']" class="alert alert-danger">
            Este espacio es requerido
        </section>
        <section *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']" class="alert alert-danger">
            Debe tener como mininmo 10 letras
        </section>
    </section>

    <section class="mb-4">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" id="name" name="name" required formControlName="email">
        <section *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']" class="alert alert-danger">
            El email no es valido
        </section>
    </section>

    

    <section class="mb-4">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="comment" id="comment" cols="30" rows="10" formControlName="comment" required></textarea>
        <section *ngIf="contactForm.get('comment')?.touched && contactForm.get('comment')?.errors?.['required']" class="alert alert-danger">
            El mensaje no puede quedar vacio
        </section>
        <section class="d-grid gap-2 col float">
            <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Send</button>
        </section>
    </section>

    

    
</form> -->
<h1 class="text-center">Formulario reactivo de contacto</h1>

<section class="container-sm">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

        <section class="form-group m-3">
            <label for="nombres">Nombre</label>
            <input type="text" class="form-control" formControlName="nombres">
            <section *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
                <section *ngIf="nombres?.errors?.['required']" class="alert alert-danger">
                    El nombre es requerido
                </section>
                <section *ngIf="nombres?.errors?.['minlength']" class="alert alert-warning">
                    Debe tener como minimo 10 caracteres
                </section>               
            </section>
        </section>

        <section class="form-group m-3">
            <label class="email">Email</label>
            <input type="email" class="form-control" required formControlName="email">
            <section *ngIf="email?.errors?.['required']" class="alert alert-danger">
                El Email no es valido
            </section>
        </section>

        <section class="form-group m-3">
            <label class="comment">Comment</label>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="10" required formControlName="comment"></textarea>
            <section *ngIf="comment?.errors?.['required']" class="alert alert-warning">
                El mensaje no puede quedar vacio
            </section>
        </section>

        <section class="form-group m-3">
            <input type="submit" value="Confirmar" class="btn btn-primary" [disabled]="registroForm.invalid">
        </section>

        <section class="ms-3">
            <h3 *ngIf="exitoso==true" [ngStyle]="{'color':'blue'}">Todos los datos son validos</h3>
        </section>

    </form>

</section>
